:root {
  --background-color-main: #ffffff;
  --background-color-hero-footer: #2f303a;
  --background-color-team-gallery: #f5f4fa;
  --background-alt-hero-btn: #188CE8;
  --text-color: #757575;
  --title-color: #212121;
  --logo-color-1: #2196F3;
  --logo-color-2: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color-main);
}

/* ================HEADER================ */
.logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-link,
.nav-link,
.contact-link,
.address-link {
  text-decoration: none;
}

.logo-part-1{
  color: var(--logo-color-1);
}

.logo-part-2 {
  color: var(--logo-color-2);
}

.nav-list,
.contact-list,
.feature-list,
.work-gallery-list,
.team-gallery-list,
.address-list,
.btn-list,
.portfolio-preview-list {
  list-style: none;
}

.nav-link,
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-color);
}

.contact-link {
  color: var(--text-color);
}

.curent,
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--logo-color-1);
}

/* ====================================== */
/* ================MAIN================== */
.hero {
  background-color: var(--background-color-hero-footer);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-main);
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--background-color-main);
  background-color: var(--logo-color-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--background-alt-hero-btn);
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color)
}

.feature-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work-gallery-title,
.team-gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-gallery {
  background-color: var(--background-color-team-gallery);
}

.team-gallery-item {
  background-color: var(--background-color-main);
}

.team-gallery-name,
.team-gallery-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-gallery-name {
  font-weight: 500;
  color: var(--title-color);
}

.team-gallery-position {
  color: var(--text-color);
}



/* ====================================== */
/* ================FOOTER================ */
.footer {
  background-color: var(--background-color-hero-footer);
}

.logo-part-2-footer {
  color: var(--background-color-main);
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--background-color-main);
}

.footer-opacity {
  color: var(--address-color);
}

/* ====================================== */

/* ================PORTFOLIO============= */

.portfolio-preview-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--title-color);
  background: var(--background-color-team-gallery);
  cursor: pointer;
}

.portfolio-preview-btn:hover,
.portfolio-preview-btn:focus {
  background: var(--logo-color-1);
  color: var(--background-color-main);
}

.portfolio-preview-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-preview-category {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
}


/* ====================================== */




